{% extends 'main/home.html' %}
{% load static %}

{% block estilos %}
    <link rel="stylesheet" href="{% static './games/styles.css' %}">
{% endblock estilos %}

{% block title %}
    <h2 class="titleJuegos animate__animated animate__backInDown">Lista de Juegos</h2>
{% endblock title %}
    

{% block content %}

<div class="container-Games">

    {% for g in games %}
    
    <div class="container animate__animated animate__fadeIn">
        <div class="card">
            <div class="face face1">
                <div class="content">
                    <img src="../../../static/uploads/{{g.juego}}.jpg">
                    <h3>{{g.nombre}}</h3>
                    
                </div>
            </div>
            <div class="face face2">
                <div class="content">
                    <p>{{g.descripcion}}</p>
                        <a href="../reviews/{{g.juego}}">Ver Reseñas</a>
                </div>
            </div>
        </div>
    </div>

    {% endfor %}
    

</div>

{% endblock content %}