:root {
    --main-bg-color: #ffffff;
    --main-text-color: #ffffff;
    --main-text-hover-color: #ff9800;
    --main-text-bg-nav-color: #5c5c5c;
    --second-text-hover-color: #ffc340;
    --third-text-hover-color: #ff9800;
}

.containerLogin{
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

.titleCreators{
    text-align: center;
    font-size: 50px;
}

#id_username{
    border: 0px solid;
    border-bottom: 3px solid #5c5c5c;
    height: 40px;
    width: 300px;
    transition: .8s;
    font-size: 16px;
    margin: 20px;
    text-indent: 10px;
}

#id_username:focus{
    border-bottom: 3px solid var(--third-text-hover-color);
    outline: none;
}

#id_password{
    border: 0px solid;
    border-bottom: 3px solid #5c5c5c;
    height: 40px;
    width: 300px;
    transition: .8s;
    font-size: 16px;
    margin: 20px;
    text-indent: 10px;
}

#id_password:focus{
    border-bottom: 3px solid var(--third-text-hover-color);
    outline: none;
}


#id_password1{
    border: 0px solid;
    border-bottom: 3px solid #5c5c5c;
    height: 40px;
    width: 300px;
    transition: .8s;
    font-size: 16px;
    margin: 20px;
    text-indent: 10px;
}

#id_password1:focus{
    border-bottom: 3px solid var(--third-text-hover-color);
    outline: none;
}

#id_password2{
    border: 0px solid;
    border-bottom: 3px solid #5c5c5c;
    height: 40px;
    width: 300px;
    transition: .8s;
    font-size: 16px;
    margin: 20px;
    text-indent: 10px;
}

#id_password2:focus{
    border-bottom: 3px solid var(--third-text-hover-color);
    outline: none;
}

#id_email{
    border: 0px solid;
    border-bottom: 3px solid #5c5c5c;
    height: 40px;
    width: 300px;
    transition: .8s;
    font-size: 16px;
    margin: 20px;
    text-indent: 10px;
}

#id_email:focus{
    border-bottom: 3px solid var(--third-text-hover-color);
    outline: none;
}

#id_first_name{
    border: 0px solid;
    border-bottom: 3px solid #5c5c5c;
    height: 40px;
    width: 300px;
    transition: .8s;
    font-size: 16px;
    margin: 20px;
    text-indent: 10px;
}

#id_first_name:focus{
    border-bottom: 3px solid var(--third-text-hover-color);
    outline: none;
}

#id_last_name{
    border: 0px solid;
    border-bottom: 3px solid #5c5c5c;
    height: 40px;
    width: 300px;
    transition: .8s;
    font-size: 16px;
    margin: 20px;
    text-indent: 10px;
}

#id_last_name:focus{
    border-bottom: 3px solid var(--third-text-hover-color);
    outline: none;
}

.btnLogReg{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
    background-color: var(--third-text-hover-color);
    color: var(--main-bg-color);
    height: 40px;
    width: 150px;
    border: 0px;
    margin-top: 20px;
}

.noAccount{
    margin-bottom: 30px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.btnreg{
    cursor: pointer;
    background-color: rgb(174, 0, 0);
    color: white;
    height: 20px;
    width: 100px;
    border: 0px;
    font-size: 10px;
    margin-left: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.btncs{
    cursor: pointer;
    background-color: rgb(174, 0, 0);
    color: white;
    height: 26px;
    width: 100px;
    border: 0px;
    font-size: 15px;
    margin-left: 5px;
    text-decoration: none;
    display: flex;
    justify-content: center;
    align-items: center;
}

.aligbtncs{
    margin-top: 10px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.titleLR{
    display: flex;
    justify-content: center;
    color: var(--main-text-hover-color);
    margin-bottom: 50px;
    font-size: 30px;
}

.loginContainer{
    margin: 194px;
}

.logout{
    margin-top: 300px;
    margin-bottom: 400px;
}

.registerContainer{
    margin: 84px;
}

.container-Creators{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.containerC{
    margin-bottom: 20px;
    width: 50%;
    display: flex;
    justify-content: start;
}

.errorlist{
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(174, 0, 0);
    list-style-type: none;
}

.errorlist li{
    margin-right: auto;
    margin-left: auto;
}

.helptext{
    display: none;
    margin: 0;
    padding: 0;
    text-align: center;
    color: rgb(174, 0, 0);
    list-style-type: none;
}

tr{
    display: flex;
    flex-direction: column;
}

label{
    font-size: 20px;
}

.userImg{
    border: 3px solid var(--main-text-bg-nav-color);
    width: 80px;
    height: 80px;
    margin-right: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0 10px 20px rgba(0, 0, 0, 0.5);
}

img{
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 80px;
    max-height: 80px;
}

.userName{
    display: flex;
    align-items: center;
    justify-content: center;
}