<!DOCTYPE html>
<html lang="en">
<head>
    {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static './main/styles.css' %}">
    {% block estilos %}
    {% endblock estilos %}

    <title>Games Review</title>
</head>
<body>  
    <nav>
        <div class="container-nav">
            <div class="logo">
                <a href="{% url 'home' %}"><img class="logo" src="{% static 'main/logo.png' %}" alt=""></a>
            </div>
        <form action="/main/search" method="get" class="searcher">
            {% csrf_token %}
                <a href="{% url 'login' %}" class="btn"><i class="fa-solid fa-user login"></i></a>
                <input placeholder="BUSCAR JUEGOS..." class="searcherInput" type="text" name="search">
                <button class="searcherButton" type="submit">BUSCAR</button>
        </form>
            <div>
                <ul>
                    <li><a href="{% url 'games' %}">JUEGOS</a></li>
                    <li><a href="{% url 'games' %}">AUTORES</a></li>
                    <li><a href="{% url 'games' %}">NUEVO</a></li>
                </ul>
            </div>
        </div>
    </nav>
    <div>
        {% block title %}
            <h2></h2>
        {% endblock title %}
    </div>
    <div>
        {% block content %}
            <div class="topAutores">
                <h2>TOP AUTORES</h2>
                <div class="subAutores">
                    <div class="autor1">AUTOR 1</div>
                    <div class="autor2">AUTOR 2</div>
                    <div class="autor3">AUTOR 3</div>
                </div>
            </div>
        {% endblock content %}

        <footer class="footer">
            <p>© Games Review - Todos los derechos reservados.</p>
        </footer>
    </div>
    <script src="https://kit.fontawesome.com/e3b3d41c44.js" crossorigin="anonymous"></script>
</body>
</html>