{% extends 'main/home.html' %}
{% load static %}

{% block estilos %}
<link rel="stylesheet" href="{% static './authmanager/styles.css' %}">
{% endblock estilos %}

    

{% block content %}
    <div class="loginContainer animate__animated animate__zoomIn">
        <h2 class="titleLR">INGRESAR</h2>
        <form action="" method="post">
            {% csrf_token %}

        <div class="containerLogin">
            
            <table>
                {{form.as_table}}
            </table>
            
            <input class="btnLogReg" type="submit" value="INGRESAR">
        </div>
        <div class="noAccount">
            <p>¿NO TIENES CUENTA?</p>
            <a class="btnreg" href="{% url 'register' %}">REGISTRARME</a>
        </div>

    </form>
    </div>  
{% endblock content %}
    