{% extends 'main/home.html' %}
{% load static %}


{% block estilos %}
<link rel="stylesheet" href="{% static './authmanager/styles.css' %}">
{% endblock estilos %}
    

{% block content %}
    <div class="registerContainer animate__animated animate__zoomIn">
    <h2 class="titleLR">REGISTRARME</h2>
    <form action="" method="post">
        {% csrf_token %}
        <div class="containerLogin">
            <table>
                {{form.as_table}}
            </table>
        </div>
        <input class="btnLogReg" type="submit" value="REGISTRARME">
    </form>
    <div class="noAccount">
        <p>¿YA TIENES CUENTA?</p>
        <a class="btnreg" href="{% url 'login' %}">INGRESAR</a>
    </div>
    </div>
{% endblock content %}